<!--meta http-equiv="refresh" content="22"-->
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <h2>Happy Users</h2>
          <h3 class="text-value">{{ms}}</h3>
        </div>
        <!--Didn't set graph Elements just Yet(Jeff)-->
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <h2>Unhappy Users</h2>
          <h3 class="text-value">{{ms2}}</h3>
        </div>
        <!--Didn't set graph Elements just Yet(Jeff)-->
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Timeline</h4>
          <div class="small text-muted">11 November 2018</div>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="mainChartData"
        [labels]="mainChartLabels"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"></canvas>
      </div>
    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Yesterday Visits</div>
          <strong>{{mainChartData5}} Users</strong>
          <!--Didn't Calculate Progress-bar Percent just yet(Jeff)-->
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Today Visits</div>
          <strong>{{mainChartData4}} Users</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Expected</div>
          <strong>1560 Users</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Percentage(Today/Yesterday)</div>
          <strong>{{mainChartData6}} %</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.card-->
  <div class="card">
    <div class="card-body" style="height:400px">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Gender</h4>
          <div class="small text-muted">11 November 2018</div>
        </div><!--/.col-->
      </div><!--/.row-->
        <div class="chart-wrapper" style="height:600px;width:600px;margin:0 auto;margin-top:20px;">
          <canvas baseChart class="chart"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [colors]="pieChartColours"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
         </div>
        </div>
      <div>
    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Male</div>
          <strong>{{pieChartData[0]}} Users</strong>
          <!--Didn't Calculate Progress-bar Percent just yet(Jeff)-->
          <div class="progress progress-xs mt-2">
            <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Female</div>
          <strong>{{pieChartData[1]}} Users</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 55%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
      <div class="card-body" style="height:400px">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0">Age</h4>
            <div class="small text-muted">11 November 2018</div>
          </div><!--/.col-->
        </div><!--/.row-->
          <div class="chart-wrapper" style="height:600px;width:600px;margin:0 auto;margin-top:20px;">
            <canvas baseChart class="chart"
            [data]="pieChartData2"
            [labels]="pieChartLabels2"
            [colors]="pieChartColours2"
            [chartType]="pieChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
           </div>
          </div>
        <div>
      </div>
      <div class="card-footer">
        <div class="row text-center">
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Mostly</div>
            <strong>19-24 Years</strong>
            <!--Didn't Calculate Progress-bar Percent just yet(Jeff)-->
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Come After With</div>
            <strong>25-30 Years</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Lowest Number</div>
            <strong>0-6 Years</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 1%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header" button type ="button">
          <img src="promotion-banner.png" class="img-fluid" alt="">
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">{{t}}</div>
            <div class="text-uppercase text-muted small">interested</div>
          </div>
          <div>
            <div class="text-value">25-30 Y</div>
            <div class="text-uppercase text-muted small">mostly</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header" button type ="button">
            <img src="promotion-banner.png" class="img-fluid" alt="">
         </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">{{t2}}</div>
            <div class="text-uppercase text-muted small">interested</div>
          </div>
          <div>
            <div class="text-value">19-24 Y</div>
            <div class="text-uppercase text-muted small">mostly</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header " button type="button">
            <img src="promotion-banner.png" class="img-fluid" alt=""> <!--Promotion-Button-->
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">{{t3}}</div>
            <div class="text-uppercase text-muted small">interested</div>
          </div>
          <div>
            <div class="text-value">25-30 Y</div>
            <div class="text-uppercase text-muted small">mostly</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header" button type ="button">
            <img src="promotion-banner.png" class="img-fluid" alt="">
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">{{t4}}</div>
            <div class="text-uppercase text-muted small">interested</div>
          </div>
          <div>
            <div class="text-value">13-18 Y</div>
            <div class="text-uppercase text-muted small">mostly</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
